@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Montserrat", "Hind Madurai", sans-serif, "Lora", serif;
  }
}

@layer components {
  /* Fonts */
  .header {
    font-family: "Montserrat";
    font-size: 60px;
  }

  .sub-header {
    font-family: "Lora";
    font-size: 35px;
  }

  .copy {
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
  }

  .copy-bold {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
  }

  /* Colors */
  .azul {
    color: #132542;
  }

  .verde {
    color: #335964;
  }

  .naranja {
    color: #e58d35;
  }
}
